.boxWord {
    cursor: pointer;
    display: inline-block;
    position: relative
}

.hoverThis {
    position: relative;
}

.tooltip {
    text-decoration: underline;
    color: #000;
}

.loader {
    border: 6px solid gray;
    border-top-color: blue;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    animation: spin 1s linear infinite
}

.mean {
    width: 200px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    right: calc(50% - 60px);
    top: calc(50% + 10px);
    transform: transition(-50% -50%);
    padding: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    z-index: 10000 !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    ;

    100% {
        transform: rotate(360deg)
    }
}